In [1]:
from evaluate import convert_to_message, evaulate_dataset

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./Datasets/test.csv')
data.name = "test"
data

   ID Name
0   1    A
1   2    B
2   3    C

In [4]:
for i in range(len(data)):
    print(convert_to_message(data, i))

ID: 1
Name: A

ID: 2
Name: B

ID: 3
Name: C

In [5]:
from evaluate import evaulate_dataset

In [6]:
evaulate_dataset(data, ["test_model"], "test_prompt")