In [14]:
import pandas as pd

In [15]:
results = pd.read_csv("../Results/results.csv")
results

,id,model,epoch,temp,leftId,rightId,result,response,duration,timestamp
0,1,mistral,0,0.00,0,1,0.6,Output: 0.6 China is a major producer of sem...,18.058701,2024-03-09 09:58:06
1,2,mistral,0,0.00,0,2,0.6,Output: 0.6 China is a major producer of sem...,7.181781,2024-03-09 09:58:13
2,3,mistral,0,0.00,0,3,0.6,Output: 0.6 China is a major producer of sem...,10.261206,2024-03-09 09:58:23
3,4,mistral,0,0.00,0,4,0.9,Output: 0.9 China is the worlds largest cons...,3.236487,2024-03-09 09:58:27
4,5,mistral,0,0.00,0,5,0.6,Output: 0.6 China is a major producer of sem...,10.703961,2024-03-09 09:58:37
...,...,...,...,...,...,...,...,...,...,...
5729,5730,dolphin-phi,0,0.25,1,4,-1.0,0.5,0.149790,2024-03-11 08:58:26
5730,5731,dolphin-phi,0,0.25,1,5,0.3,Output: 0.3 Reasoning: The United States and ...,2.887210,2024-03-11 08:58:29
5731,5732,dolphin-phi,0,0.25,1,6,0.7,"Based on the given input, the United States is...",2.396489,2024-03-11 08:58:31
5732,5733,dolphin-phi,0,0.25,1,7,0.2,Output: 0.2,0.234765,2024-03-11 08:58:31
5733,5734,dolphin-phi,0,0.25,1,8,0.2,Output: 0.2 Reasoning: The United States and ...,4.210632,2024-03-11 08:58:35

In [16]:
results['timestamp'] = results['timestamp'].apply(pd.to_datetime)
results

,id,model,epoch,temp,leftId,rightId,result,response,duration,timestamp
0,1,mistral,0,0.00,0,1,0.6,Output: 0.6 China is a major producer of sem...,18.058701,2024-03-09 09:58:06
1,2,mistral,0,0.00,0,2,0.6,Output: 0.6 China is a major producer of sem...,7.181781,2024-03-09 09:58:13
2,3,mistral,0,0.00,0,3,0.6,Output: 0.6 China is a major producer of sem...,10.261206,2024-03-09 09:58:23
3,4,mistral,0,0.00,0,4,0.9,Output: 0.9 China is the worlds largest cons...,3.236487,2024-03-09 09:58:27
4,5,mistral,0,0.00,0,5,0.6,Output: 0.6 China is a major producer of sem...,10.703961,2024-03-09 09:58:37
...,...,...,...,...,...,...,...,...,...,...
5729,5730,dolphin-phi,0,0.25,1,4,-1.0,0.5,0.149790,2024-03-11 08:58:26
5730,5731,dolphin-phi,0,0.25,1,5,0.3,Output: 0.3 Reasoning: The United States and ...,2.887210,2024-03-11 08:58:29
5731,5732,dolphin-phi,0,0.25,1,6,0.7,"Based on the given input, the United States is...",2.396489,2024-03-11 08:58:31
5732,5733,dolphin-phi,0,0.25,1,7,0.2,Output: 0.2,0.234765,2024-03-11 08:58:31
5733,5734,dolphin-phi,0,0.25,1,8,0.2,Output: 0.2 Reasoning: The United States and ...,4.210632,2024-03-11 08:58:35

In [17]:
results.model.value_counts()

model
vicuna         1173
mistral        1125
phi            1125
llama2         1125
zephyr         1125
dolphin-phi      61
Name: count, dtype: int64

In [18]:
results.drop(results[results['model'] == 'dolphin-phi'].index, inplace=True)

In [19]:
results.model.value_counts()

model
vicuna     1173
mistral    1125
phi        1125
llama2     1125
zephyr     1125
Name: count, dtype: int64

In [20]:
sorted = results.sort_values(by='timestamp')
sorted

,id,model,epoch,temp,leftId,rightId,result,response,duration,timestamp
0,1,mistral,0,0.0,0,1,0.6,Output: 0.6 China is a major producer of sem...,18.058701,2024-03-09 09:58:06
1,2,mistral,0,0.0,0,2,0.6,Output: 0.6 China is a major producer of sem...,7.181781,2024-03-09 09:58:13
2,3,mistral,0,0.0,0,3,0.6,Output: 0.6 China is a major producer of sem...,10.261206,2024-03-09 09:58:23
3,4,mistral,0,0.0,0,4,0.9,Output: 0.9 China is the worlds largest cons...,3.236487,2024-03-09 09:58:27
4,5,mistral,0,0.0,0,5,0.6,Output: 0.6 China is a major producer of sem...,10.703961,2024-03-09 09:58:37
...,...,...,...,...,...,...,...,...,...,...
5668,5669,vicuna,4,1.0,6,8,0.5,"Input: Country: South Korea, Country: United ...",1.590942,2024-03-11 05:03:26
5669,5670,vicuna,4,1.0,6,9,0.6,Input: Country: South Korea Country: Australi...,1.255026,2024-03-11 05:03:28
5670,5671,vicuna,4,1.0,7,8,0.6,Input: Country: Hong Kong Country: United Arab...,1.476408,2024-03-11 05:03:29
5671,5672,vicuna,4,1.0,7,9,0.6,Input: Country: Hong Kong Country: Australia ...,1.254883,2024-03-11 05:03:30
5672,5673,vicuna,4,1.0,8,9,0.8,United Arab Emirates Producer: The UAE is a m...,20.193053,2024-03-11 05:03:51

In [21]:
results = sorted.drop_duplicates(subset=['model', 'epoch','temp','leftId','rightId'], keep='last')
results

,id,model,epoch,temp,leftId,rightId,result,response,duration,timestamp
0,1,mistral,0,0.0,0,1,0.6,Output: 0.6 China is a major producer of sem...,18.058701,2024-03-09 09:58:06
1,2,mistral,0,0.0,0,2,0.6,Output: 0.6 China is a major producer of sem...,7.181781,2024-03-09 09:58:13
2,3,mistral,0,0.0,0,3,0.6,Output: 0.6 China is a major producer of sem...,10.261206,2024-03-09 09:58:23
3,4,mistral,0,0.0,0,4,0.9,Output: 0.9 China is the worlds largest cons...,3.236487,2024-03-09 09:58:27
4,5,mistral,0,0.0,0,5,0.6,Output: 0.6 China is a major producer of sem...,10.703961,2024-03-09 09:58:37
...,...,...,...,...,...,...,...,...,...,...
5668,5669,vicuna,4,1.0,6,8,0.5,"Input: Country: South Korea, Country: United ...",1.590942,2024-03-11 05:03:26
5669,5670,vicuna,4,1.0,6,9,0.6,Input: Country: South Korea Country: Australi...,1.255026,2024-03-11 05:03:28
5670,5671,vicuna,4,1.0,7,8,0.6,Input: Country: Hong Kong Country: United Arab...,1.476408,2024-03-11 05:03:29
5671,5672,vicuna,4,1.0,7,9,0.6,Input: Country: Hong Kong Country: Australia ...,1.254883,2024-03-11 05:03:30
5672,5673,vicuna,4,1.0,8,9,0.8,United Arab Emirates Producer: The UAE is a m...,20.193053,2024-03-11 05:03:51

In [22]:
results.model.value_counts()

model
mistral    1125
phi        1125
llama2     1125
zephyr     1125
vicuna     1125
Name: count, dtype: int64

In [23]:
def parse_response(response):
    response = response.strip()
    response = response.split(' ')

    for i in range(len(response) - 1, -1, -1):
        try:
            # remove trailing symbols before parsing

            response[i] = response[i].strip()
            response[i] = response[i].strip('.')
            response[i] = response[i].strip(',')
            response[i] = response[i].strip('!')
            response[i] = response[i].strip('?')
            response[i] = response[i].strip(':')
            response[i] = response[i].strip(';')
            
            response[i] = float(response[i])
            if response[i] >= 0 and response[i] <= 1:
                return response[i]
        except:
            pass

    return -1

In [24]:
results['clean_result'] = results['response'].apply(parse_response)

/var/folders/gv/wlmg8wwj5y39xvbz768_rv9h0000gn/T/ipykernel_29440/3454388152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['clean_result'] = results['response'].apply(parse_response)

In [25]:
results

,id,model,epoch,temp,leftId,rightId,result,response,duration,timestamp,clean_result
0,1,mistral,0,0.0,0,1,0.6,Output: 0.6 China is a major producer of sem...,18.058701,2024-03-09 09:58:06,0.6
1,2,mistral,0,0.0,0,2,0.6,Output: 0.6 China is a major producer of sem...,7.181781,2024-03-09 09:58:13,0.6
2,3,mistral,0,0.0,0,3,0.6,Output: 0.6 China is a major producer of sem...,10.261206,2024-03-09 09:58:23,0.6
3,4,mistral,0,0.0,0,4,0.9,Output: 0.9 China is the worlds largest cons...,3.236487,2024-03-09 09:58:27,0.9
4,5,mistral,0,0.0,0,5,0.6,Output: 0.6 China is a major producer of sem...,10.703961,2024-03-09 09:58:37,0.6
...,...,...,...,...,...,...,...,...,...,...,...
5668,5669,vicuna,4,1.0,6,8,0.5,"Input: Country: South Korea, Country: United ...",1.590942,2024-03-11 05:03:26,0.5
5669,5670,vicuna,4,1.0,6,9,0.6,Input: Country: South Korea Country: Australi...,1.255026,2024-03-11 05:03:28,0.6
5670,5671,vicuna,4,1.0,7,8,0.6,Input: Country: Hong Kong Country: United Arab...,1.476408,2024-03-11 05:03:29,0.6
5671,5672,vicuna,4,1.0,7,9,0.6,Input: Country: Hong Kong Country: Australia ...,1.254883,2024-03-11 05:03:30,0.6
5672,5673,vicuna,4,1.0,8,9,0.8,United Arab Emirates Producer: The UAE is a m...,20.193053,2024-03-11 05:03:51,0.8

In [26]:
results.to_csv("../Results/clean/countries.csv", index=False)